In [6]:
from mysql import connector
import os
PASSWORD = '1234'

- 기초문법 중급레벨
- with vs python decorator

In [9]:
## Step 1. sql 연결
try:
    with connector.connect(
        host = 'localhost',
        user = 'root',
        password = PASSWORD
    ) as database:
        print(f"Database 객체 : {database}")
except connector.Error as e:
    print(e)

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x000002C1E1006B90>

## Step 2. New DB Creation

In [15]:
try:
    with connector.connect(
        host = 'localhost',
        user = 'root',
        password = PASSWORD
    ) as database:
        print(f"Database 객체 : {database}")
        
        with database.cursor() as cursor: # 항상 execute 위에 두기 #with절 : 연결 객체를 자동으로 받아줌 # with 절 쓰는 이유 : 쿼리절 닫아주려고,, ? 
            
        #쿼리문 작성 #create는 한번 코드 돌리면 주석처리하기 - > 이미 creation 완료돼서 또 코드 run하면 already exists 오류남. 
            # create_db = "CREATE DATABASE book_ratings;" 
            # cursor.execute(create_db)

            #생성된 DB 확인하는 쿼리문 다시 쓰기 
            show_existing_db = "SHOW DATABASES;"
            cursor.execute(show_existing_db)
            for db in cursor:
                print(db)
            
except connector.Error as e:
    print(e)

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x000002C1E1225A90>
('book_ratings',)
('classicmodels',)
('datasets',)
('information_schema',)
('instacart',)
('mydata',)
('mydata2',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('testdb',)
('titanic',)
('world',)

In [18]:
try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD
    ) as database:
        print(f"Database 객체 : {database}")
        
        with database.cursor() as cursor:
            # 쿼리문 작성
            create_db = "CREATE DATABASE book_ratings;"
            cursor.execute(create_db)

            # 생성된 DB 확인 쿼리문 쓰기
            show_existing_db = "SHOW DATABASES;"
            cursor.execute(show_existing_db)
            for db in cursor:
                print(db)

except connector.Error as e:
    print(e)

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x000002C1E1B1B050>
1007 (HY000): Can't create database 'book_ratings'; database exists

- 특정 DB(예; book_ratings)에 직접 연결하려면 아래 코드

In [21]:
try:
    with connector.connect(
        host = 'localhost',
        user = 'root',
        password = PASSWORD,
        database = "book_ratings" #기존 코드와의 차이점 
    ) as database:
        print(f"Database 객체 : {database}")
except connector.Error as e:
    print(e)

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x000002C1E1B17850>

# Step 3. Table Creation

In [23]:
create_books_table = """
    create table books(
    	id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        title VARCHAR(100), 
        author VARCHAR(100), 
        genre VARCHAR(100), 
        release_year YEAR(4)
    );
"""

try:
    with connector.connect(
        host = 'localhost',
        user = 'root',
        password = PASSWORD,
        database = "book_ratings" #기존 코드와의 차이점 
    ) as database:
        print(f"Database 객체 : {database}")

        # cursor object 접근 후, 위 쿼리 실행
        with database.cursor() as cursor:
            cursor.execute(create_books_table)
            database.commit()

            #테이블 확인 DESCRIBE
            describe_books = "DESCRIBE books;"
            cursor.execute(describe_books)
            book_schema = cursor.fetchall()
            for column in book_schema:
                print(column)
except connector.Error as e:
    print(e)

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x000002C1E1B182D0>
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(100)', 'YES', '', None, '')
('author', 'varchar(100)', 'YES', '', None, '')
('genre', 'varchar(100)', 'YES', '', None, '')
('release_year', 'year', 'YES', '', None, '')

In [ ]:
insert_single_record = "INSERT INTO books (id, title, author, genre, release_year)\
    VALUES (%s, %s, %s, %s, %s)"
single_record = (
    "1", "Choose Yourself! Be Happy, Make Millions, Live the Dream", "James Altucher", "self-help", "2013"
    )

In [1]:
try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD, 
        database = "book_ratings" # 이것이 기존 코드와의 차이점
    ) as database:
        print(f"Database 객체 : {database}")

        # 커서 생성 후, 쿼리 실행
        with database.cursor() as cursor:
            cursor.execute(insert_single_record, single_record)
            database.commit()
except connector.Error as e:
    print(e)

NameError: name 'connector' is not defined

In [2]:
insert_multiple_records = "INSERT INTO books (id, title, author, genre, release_year)\
    VALUES (%s, %s, %s, %s, %s)"
multiple_records = [
    (
        "2", 
        "Skip the Line: The 10,000 Experiments Rule and Other Surprising Advice for Reaching Your Goals",
        "James Altucher",
        "self-help",
        "2021"        
    ),
    (
        "3",
        "The Power of No: Because One Little Word Can Bring Health, Abundance, and Happiness",
        "James Altucher",
        "self-help",
        "2014"
    ),
    (
        "4",
        "The 48 Laws of Power",
        "Robert Greene",
        "self-help",
        "1998"
    ),
    (
        "5",
        "Mastery",
        "Robert Greene",
        "self-help",
        "2012"
    ),
    (
        "6",
        "The Art of Seduction",
        "Robert Greene",
        "self-help",
        "2001"
    ),
]

In [3]:
import pandas as pd

def fetch_data_to_dataframe(query, database=None):
    try: 
        with connector.connect(
            host="localhost",
            user="root",
            password=PASSWORD,
            database=database
        ) as existing_database:
            
            with existing_database.cursor() as cursor:
                cursor.execute(query)
                
                column_names = [i[0] for i in cursor.description]
                
                returned_data = cursor.fetchall()
                
                df = pd.DataFrame(returned_data, columns=column_names)
                return df
    
    except connector.Error as e: 
        print(e)
        return None

In [4]:
update_query = """
    UPDATE 
        books
    SET 
        author = 'Big J'
    WHERE 
        author = 'James Altucher'
"""

In [5]:
update_query = """
    UPDATE 
        books
    SET 
        author = 'Big J'
    WHERE 
        author = 'James Altucher'
"""

try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD, 
        database = "book_ratings" # 이것이 기존 코드와의 차이점
    ) as database:
        print(f"Database 객체 : {database}")

        # 커서 생성 후, 쿼리 실행
        with database.cursor() as cursor:
            cursor.execute(update_query)
            database.commit()

            check_query = "SELECT DISTINCT author FROM books"
            cursor.execute(check_query)

            for result in cursor.fetchall():
                print(result)
            
except connector.Error as e:
    print(e)

NameError: name 'connector' is not defined

In [6]:
try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD, 
        database = "book_ratings" # 이것이 기존 코드와의 차이점
    ) as database:
        print(f"Database 객체 : {database}")

        # 커서 생성 후, 쿼리 실행
        with database.cursor() as cursor:

            delete_query = "DELETE FROM books WHERE release_year <= 2010;"
            cursor.execute(delete_query)
            database.commit()

            check_query = "SELECT DISTINCT release_year FROM books;"
            cursor.execute(check_query)
            for result in cursor.fetchall():
                print(result)
            
except connector.Error as e:
    print(e)

NameError: name 'connector' is not defined